<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitterClone</title>
</head>

<body>
    {% extends 'base.html' %} {% block content %}
    <div>
        <h1><b>Profile Of: {{ user_details.username }}</b></h1>
        <h3>Currently has contributed {{ usertweets_count }} tweet(s) and follows {{ follows_count }} TwitterCloner(s)</h3>
        <br>
        <br>
        <h3>{{ user_details.display_name }} Member's Handle &#8594 <a href="/userprofile/{{ user_details.username }}/"><i>@{{ user_details.username }}</i></a></h3>
        {% if request.path == '/userprofile/{{ user_details.username }}' %}
        <h3>Currently has contributed {{ usertweets_count }} tweet(s) and follows {{ follows_count }} TwitterCloner(s)</h3>
        {% else %}
        <!-- https://docs.djangoproject.com/en/3.1/ref/contrib/auth/ -->
        <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/ -->
        {% if request.user.is_authenticated %} {% if request.user != user_details %} {% if user_details in request.user.follow.all %}
        <h3><a href="/{{ user_details.username }}/unfollow/">unfollow</a></h3> {% else %}
        <h3><a href="/{{ user_details.username }}/follow/">follow</a></h3> {% endif %} {% endif %} {% endif %} {% endif %}
        <br>
        <h3><a href="/notifications/{{ user_details.username }}/">Notifications For: {{ user_details.username }}</a></h3>
        <br>
        <h3><a href="/addtweet/">Create New Tweet</a></h3>
        <br> {% include template_name %}
        <br>
        <br>
        <h3>Have to do something else? Please be safe and click <a href="/logout/">Logout</a></h3>
    </div>
    {% endblock %}
</body>

</html>